.header {
  background-color: #2d2d2d;
  box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.25);
  height: 80px;
  display: flex;
  align-items: center;
}

.footer {
  background-color: #2d2d2d;
  height: 205px;
}

.footerText {
  font-family: "Fira Sans";
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #ffffff;
  margin: 50px 0px 0px 120px;
}

.footerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 200px;
}

.siteLogoFooter {
  font-family: "Zona Pro", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #ffffff;
  text-decoration: none;
  padding: 30px 69px 25px 120px;
}

.support {
  background: #2d2d2d;
  border: 1px solid #ffffff;
  border-radius: 8px;
  color: #ffffff;
  padding: 21px 16px;
  font-family: "Fira Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin: 0px 120px 16px 0px;
}

.socialMedia {
  padding: 5px 15px 0px 0px;
}

.socialMediaWrapper {
  margin: 40px 120px 16px 0px;
  display: flex;
  justify-content: flex-end;
}

.cookie {
  color: #ffffff;
}

.siteLogo {
  font-family: "Zona Pro", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #ffffff;
  text-decoration: none;
  padding: 21px 69px 21px 120px;
}

.links {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  text-decoration: none;
  padding: 31px 45px 30px 0px;
}

.links:hover {
  color: grey;
}

.searchBox {
  width: 338px;
  height: 30px;
  background: #ffffff;
  border-radius: 19px;
  outline: none;
  text-align: left;
  font-family: "Fira Sans";
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #737373;
  border: none;
  padding: 11px 15px 11px 15px;
  text-align-last: left;
}

.testHeading {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 51px;
}

.divWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.backButton {
  width: 42px;
  height: 42px;
  margin: 45px 10px 0px 120px;
  border: none;
  background-color: #ffffff;
  border-radius: 50px;
}
.subjectsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.subjectButton {
  border: none;
  background: #ffffff;
  width: 794px;
  height: 50px;
  border-radius: 30px;
  margin: 0px 0px 15px 0px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
}

.subjectButton:hover {
  background: #ffbf13;
  color: #ffffff;
  transition-duration: 0.3s;
}

.subjectButton:disabled {
  border: none;
  background: #f0f0f0;
  width: 794px;
  height: 50px;
  border-radius: 30px;
  margin: 0px 0px 15px 0px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  color: #4d4d4d;
}

.subjName {
  float: left;
  margin: 12px 300px 12px 30px;
  text-align: center;
}

.fwdIcon {
  float: right;
  padding: 19px 19px;
}

.subjects {
  margin-bottom: 100px;
}

.divWrapperInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 220px 50px 220px;
}

.back {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-decoration: none;
  margin-top: 59px;
}

.task {
  width: 794px;
  height: 294px;
  background: #ffffff;
  border-radius: 15px;
}
.back_btn{
  display: flex;
  align-items: center;
}
